
<body>
    <!-- ################# Header Starts Here#######################--->
    {% include 'header.html' %}
    
     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                        {% if path == "about-us" %}
                           <h2>درباره خانم زاهدی</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> خانه </a></li>
                               <li><i class="fas fa-angle-double-right"></i>  درباره ما </li>
                           </ul>
                        {% endif %}
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
         <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="{{ url_for('assets', path='/images/aboout.jpg') }}" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {% for about in about_us %}
                            <h2>به کلینیک زاهدی خوش آمدید</h2>
                            <p> {{ about.description }} </p>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->
        	<!-- ################# Mission Vision Starts Here#######################--->
  	
  	<div class="mosion-vision">
  	    <div class="container">
  	        <div class="row">
  	            <div class="col-lg-4 col-md-12">
  	                <div class="single-dd">
                        {% for about in about_us %}
  	                    <h4>وظایف ما</h4>
  	                    <p> {{about.our_mission}} </p>
  	                    {% endfor %}
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
                        {% for about in about_us %}
  	                    <h4>اهداف ما</h4>
  	                    <p> {{about.our_vision}} </p>
  	                    {% endfor %}
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
                        {% for about in about_us %}
  	                    <h4>چرا کلینیک ما؟</h4>
  	                    <p> {{about.why_choose_us}} </p>
  	                    {% endfor %}
  	                    
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</div>

      <!-- ################# Footer Starts Here#######################--->


    <footer class="footer">
        {% include 'footer.html' %}
        

    </footer>
    <div class="copy">
        {% include 'copy.html' %}

        </div>
</body>

{{ url_for('assets', path='/js/script.js') }}
<script src="{{ url_for('assets', path='/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('assets', path='/js/popper.min.js') }}"></script>
<script src="{{ url_for('assets', path='/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('assets', path='/plugins/scroll-fixed/jquery-scrolltofixed-min.js') }}"></script>
<script src="{{ url_for('assets', path='/plugins/testimonial/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('assets', path='/js/script.js') }}"></script>

</html>
