
<body>
    <!-- ################# Header Starts Here#######################--->
    {% include 'header.html' %}
    
     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                        {% if path == "about-us" %}
                           <h2>درباره خانم زاهدی</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> خانه </a></li>
                               <li><i class="fas fa-angle-double-right"></i>  درباره ما </li>
                           </ul>
                        {% endif %}
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
         <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="{{ url_for('assets', path='/images/aboout.jpg') }}" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {% for about in about_us %}
                            <h2>به کلینیک زاهدی خوش آمدید</h2>
                            <p> {{ about.description }} </p>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->
        	<!-- ################# Mission Vision Starts Here#######################--->
  	
  	<div class="mosion-vision">
  	    <div class="container">
  	        <div class="row">
  	            <div class="col-lg-4 col-md-12">
  	                <div class="single-dd">
                        {% for about in about_us %}
  	                    <h4>وظایف ما</h4>
  	                    <p> {{about.our_mission}} </p>
  	                    {% endfor %}
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
                        {% for about in about_us %}
  	                    <h4>اهداف ما</h4>
  	                    <p> {{about.our_vision}} </p>
  	                    {% endfor %}
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
                        {% for about in about_us %}
  	                    <h4>چرا کلینیک ما؟</h4>
  	                    <p> {{about.why_choose_us}} </p>
  	                    {% endfor %}
  	                    
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</div>

      <!-- ################# Footer Starts Here#######################--->


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Smart Eye is a leading provider of information technology, consulting, and business process services. Our dedicated employees offer strategic insights, technological expertise and industry experience.
                    </p>
                    <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        BlueDart <br>
                        Marthandam (K.K District) <br>
                        Tamil Nadu, IND <br>
                        Phone: +91 9159669599 <br>
                        Email: <a href="mailto:info@anybiz.com" class="">info@bluedart.in</a><br>
                        Web: <a href="smart-eye.html" class="">www.bluedart.in</a>
                    </address>

                </div>
            </div>
        </div>
        

    </footer>
    <div class="copy">
            <div class="container">
                <a href="https://www.smarteyeapps.com/">2015 &copy; All Rights Reserved | Designed and Developed by Smarteyeapps</a>
                
                <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>
</body>

{{ url_for('assets', path='/js/script.js') }}
<script src="{{ url_for('assets', path='/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('assets', path='/js/popper.min.js') }}"></script>
<script src="{{ url_for('assets', path='/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('assets', path='/plugins/scroll-fixed/jquery-scrolltofixed-min.js') }}"></script>
<script src="{{ url_for('assets', path='/plugins/testimonial/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('assets', path='/js/script.js') }}"></script>


</html>