
<body>
    {% include 'header.html' %}

         <!--  ************************* Page Title Starts Here ************************** -->
         <div class="page-nav no-margin row">
            <div class="container">
                <div class="row">
                    {% if path == "blogs" %}
                    <h2>مقالات</h2>
                    <ul>
                        <li> <a href="#"><i class="fas fa-home"></i> خانه</a></li>
                        <li><i class="fas fa-angle-double-right"></i>مقالات</li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    <!-- ######## Page  Title End ####### -->
    <section class="our-blog container-fluid">
  		<div class="container">
  			<div class="col-sm-12 blog-cont">
  				<div class="row no-margin">
                    {% for blog in blogs %}
  					<div class="col-sm-6 blog-smk">
						<div class="blog-single">

							<img src="assets/images/blog/post_1.jpg" alt="">

							<div class="blog-single-det">
								<span>Nov 12, 2018</span>
								<h6>{{blog.title}}</h6>
								<p> {{blog.description[:20]}} </p>
								<a href="{{ url_for('single-blog', blog_id=blog.id) }}">
									<button class="btn btn-success btn-sm">اطلاعات بیشتر</button>
								</a>
							</div>
						</div>
					</div>
                    {% endfor %}
  				</div>
  			</div>
  			
  		</div>
  	</section>  
   	

      <footer class="footer">
        {% include 'footer.html' %}
        

    </footer>
    <div class="copy">
        {% include 'copy.html' %}

        </div>
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>


</html>