
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>درباره ما</h2>
                
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>لینک های مفید</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">درباره ما</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" href="#/portfolio">پورتفولیو</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" href="#/products">محصولات</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#/gallery">گالری</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">ارتباط با ما</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>ارتباط با ما</h2>
                <address class="md-margin-bottom-40">
                    BlueDart <br>
                    Marthandam (K.K District) <br>
                    Tamil Nadu, IND <br>
                    Phone: +91 9159669599 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">info@bluedart.in</a><br>
                    Web: <a href="smart-eye.html" class="">www.bluedart.in</a>
                </address>

            </div>
        </div>
    </div>
    

